<!DOCTYPE html>
<html>
  <head>
    <title>TheBeautifulGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

	<body>
	

  <div class="logout">

  	<div class="bg-header">
		<h1 class="header">The Beautiful Game</h1>
		<h3 class="header">Joga Bonito</h3>

	</div>

  	<div class="nav">

  	<span class="log-in"><%= link_to("Log In", login_path) %></span>
    <span class="sign-up"><%= link_to("Sign Up", signup_path) %></span>
    <span class="all-teams"><%= link_to 'All Teams',
		teams_path%></span>
		<span class="new-team"><%= link_to 'Add Team', new_team_path%></span>
		<span class="log-out"><%= link_to("Logout", logout_path, method: "delete") %></span> 
  	 </div>
  	</div>
    <%= yield %>

  </body>
</html>
