<!DOCTYPE html>
<html>
  <head>
    <title>TheBeautifulGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<h1>The Beautiful Game</h1>

  <body class="logout">
  	<%= link_to("Log In", login_path) %><br>
    <%= link_to("Sign Up", signup_path) %><br>
  	<%= link_to("Logout", logout_path, method: "delete") %> <br>
    <%= yield %>
  </body>
</html>
