<!DOCTYPE html>
<html>
  <head>
    <title>TheBeautifulGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

	<%=image_tag("The-Beautiful-Game-Logo.png", :class => "style_image")%>

  <body class="logout">
  	<div class="nav">
  	<span class="log-in"><%= link_to("Log In", login_path) %></span><br>
    <span class="sign-up"><%= link_to("Sign Up", signup_path) %></span><br>
  	<span class="log-out"><%= link_to("Logout", logout_path, method: "delete") %></span> <br>
  	 </div>
    <%= yield %>

  </body>
</html>
