
<h3>Create Your Account</h3>

<div class="user_form">
	<div class="user-input">
<%= form_for (@user) do |form| %>
<%= form.label :name %> <br>
<%= form.text_field :name %> <br><br>
	</div>

	<div class="user-input">
<%= form.label :email %> <br>
<%= form.email_field :email %> <br>
	</div>

	<div class="user-input">
<%= form.label :password %> <br>
<%= form.password_field :password %> <br>
	</div>

	<div class="user-input">
<%= form.label :password_confirmation %> <br>
<%= form.password_field :password_confirmation %> <br><br>
	</div>


<%= form.submit("Create Your Account") %>
	

<% end %>

</div>