<h1>The Beautiful Game</h1>

<h3>Create Your Account</h3>

<div class="user_form">
<%= form_for (@user) do |form| %>
<%= form.label :name %> <br>
<%= form.text_field :name %> <br><br>


<%= form.label :email %> <br>
<%= form.email_field :email %> <br><br>


<%= form.label :password %> <br>
<%= form.password_field :password %> <br><br>

<%= form.label :password_confirmation %> <br>
<%= form.password_field :password_confirmation %> <br><br>

<%= form.submit("Create Your Account") %>
<p><%= button_to('Log In', login_path) %></p>
<% end %>

</div>