



<% @profiles.each do |team|%>



<div class="teams">

<div class="profile-index">
<h3><%= team[:team] %></h3>

<p> <%= image_tag team[:flag] %>	</p>


<p>Founded: <%=  team[:founded] %></p>

<% if team[:youtube_id] != "" %>
		<h3>	Moment Title: <%= team[:moment_title] %>
		<h3> Favorite Moment: 
			<iframe class="profile" src='https://www.youtube.com/embed/<%= team[:team_url] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
		<% else %>
		
	<% end %>
</h3>
</div>

</div>


	
<p><%= button_to 'Delete Team', team, :method => 'delete' %></p>


<% end %>