<span><%= link_to 'Add Team', new_team_path %></span>
<span><%= link_to 'All Teams', teams_path %></span>



<% @teams.each do |team|%>



<div class="teams">


<%= team[:team] %>

<p>Founded: <%=  team[:founded] %></p>

<p> <%= image_tag team[:flag] %>	</p>

<p>Moment Title: <%= team[:moment_title]%></p>

<p> Favorite Moment: <%= team[:moments] %></p>

</div>


<p><%= button_to 'Delete Team', teams_path, :method => 'delete' %></p>


<% end %>