
<div class="form">
<%= form_for @team do |form| %>
	Team: <%= form.text_field :team %></br>
	Founded: <%= form.text_field :founded %></br>
		Crest: <%= form.file_field :flag %></br>
	Moment Title: <%= form.text_field :moment_title %></br>
	Favorite Moment: <%= form.url_field :moments %></br>
	<%= form.submit %>
	<% end %>
	</div>