<span><%= link_to 'All Teams', teams_path%></span>
<h4><%= @team.flag %></h4>
<h3><%= @team.team %></h3>
<p><%= @team.founded %></p>
<p><%= @team.moments %></p>

<p><%= link_to 'Delete Team', @team, :method => 'delete' %></p>
