
<body>


<h2>Log In</h2>

	<div class="login-form">

	<div class="login-input">
<%= form_for(:session, url: login_path) do |form| %>
<%= form.label :email %> <br>
<%= form.email_field :email %> <br><br>
	</div>


	<div class="login-input">
<%= form.label :password %> 
<%= form.password_field :password %> <br>
	</div>


<%= form.submit("Log In") %>
	

<% end %>

</div>

</body>