<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |form| %>
<%= form.label :email %> <br>
<%= form.email_field :email %> <br><br>

<%= form.label :password %> <br>
<%= form.password_field :password %> <br><br>

<%= form.submit("Log In") %>

<p><%= button_to('Sign Up', signup_path) %></p>


<% end %>